*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.header-top{
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(58,69,180,1) 19%, rgba(253,29,29,1) 50%, rgba(82,252,69,1) 82%);
    text-align: center;
    align-items: center;

}

.header-top .logo a{
    font-size: 50px;
    color: aliceblue;
    margin-left: 150px;
}


.header-top .logo a span{
    color: rgb(0, 255, 81);
}

.header-top .navbar ul li{
    display: inline-block;
    color: aliceblue;
}
.header-top .navbar ul li a{
    color: aliceblue;
    font-size: 20px;
    margin-right: 20px;
}
.header-top .register{
    margin-right: 150px;
    font-size: 30px;
}

.header-top .register a {
    color: rgb(255, 255, 255);
}

.header-top .dropdown-menu{
    position: relative;
}

.menu-items{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 32px;
    width: 140px;
    height: 200px;
    border: 2px solid black;
    background: linear-gradient(0deg, rgba(253,187,45,1) 32%, rgba(195,34,56,1) 85%);
    border-radius: 10px;
}
.menu-items li{
    text-align: center;
    margin-top: 35px;
    margin-left: 15px;
}
.dropdown-menu:hover .menu-items{
    visibility: visible;
}
.menu-items2{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 70px;
    margin-top: 5px;
    width: 140px;
    height: 200px;
    border: 2px solid black;
    background: linear-gradient(0deg, rgb(125, 45, 253) 32%, rgb(13, 68, 53) 85%);
    border-radius: 10px;
}
.menu-items2 li{
    text-align: center;
    margin-top: 35px;
    margin-left: 15px;
}
.dropdown-menu2:hover .menu-items2{
    visibility: visible;
}